#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}

.header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(71, 43, 5);
  padding: 30px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 1500px;
  background-color: #151B20;
  background-image: url('./download.png');
}