body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  text-align: center;
}

.audio-controls {
  margin-bottom: 20px;
}

.audio-controls button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.audio-controls button:hover {
  background-color: #0056b3;
}

.audio-player button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.audio-player button:hover {
  background-color: #218838;
}

.audio-playe button {
  padding: 10px 20px;
  margin: 20px;
  background-color: #6586cf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.audio-playe button:hover {
  background-color: #22489a;
}


p#questionText {
  font-size: 18px;
  margin-top: 20px;
}

.textbox {
  background-color: #FFFFFF;
  border: 2px solid #002aff;
  border-radius: 5px;
  padding: 1px;
  max-width: 500px;
  height: 600px;
  margin: 20px auto;
} 


.chatbot-container {
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #C0C5C1;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chatbot-messages {
  padding: 10px;
}

.chatbot-message {
  background-color: #d9d9d9;
  color: #333;
  padding: 8px 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 70%;
  clear: both;
  float: left;
}

.user-message {
  background-color: #007bff;
  color: #fff;
  float: right;
}

.audio-controls {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

.audio-controls button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.audio-controls button:hover {
  background-color: #0056b3;
}
